@import "./../../common/normalize.css";

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

/* px 단위 */
.unit-px {
  font-size: 20px;
}

/* em 단위 */
/* em은 기존 설정 font-size에 1.5배 */
.unit-em-wrapper {
  font-size: 1.5em;
}
.unit-em {
  font-size: 1.5em;
}

/* rem 단위 */
/* root가 가지고 있는 단위 기준으로 계산 */
/* 계산하기 어려우면 alt + m 계산 emmet */
.unit-rem-wrapper {
  font-size: 1.5em;
}
.unit-rem {
  font-size: 0.75rem;
}

/* percentage 단위 */
.unit-percentage-wrapper {
  font-size: 1.5em;
}
.unit-percentage {
  font-size: 150%;
}

/* vw 단위 */
.unit-vw {
  font-size: 3vw;
}

/* CSS 색상 값 */
/* color 키워드 방식 */
.unit-color-name {
  color: darkgreen;
}

/* color 16진수 방식 */
.unit-color-hex {
  color: #ff0000;
  background-color: #00f;
}

/* color rgb 방식 */
.unit-color-rgb {
  /* 클래식 방식 , 사용 */
  color: rgb(0, 255, 0);
  /* 최신 방식 , 생략 */
  background-color: rgb(255 255 0);
}

.unit-color-hsla {
  /* 클래식 방식 , 사용 */
  color: hsl(310, 50%, 50%, 0.5);
  /* 최신 방식 , 생략 투명도 / 구분 */
  background-color: hsla(110 50% 50% / 0.5);
}
