@import "./../../common/best-reset.css";
@import "./../../common/a11y.css";
@import "./../../common/theme.css";
@import "./../../common/base.css";
@import "./../../common/components/thumbnail-card.css";

/* .ediay-container {
  margin: var(--sapcing-md);
}

.ediay-heading {
  --deep-blue: #24388d;
  margin-block: var(--sapcing-lg);
  h1 {
    color: var(--title-text-color);
  }
  p {
    color: var(--sub-title-text-color);
  }
}

.ediay-news {
  -text--color: var(--deep-blue);
  --border-color: currentColor;
  --cell-spacing-head: var(--sapcing-sm);
  --cell-spacing-body: var(--sapcing-md);

  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  inline-size: 710px;
  color: var(--title-text-color);

  .ediay-news__number {
    inline-size: 46px;
  }
  .ediay-news__content {
    inline-size: 579px;
  }
  .ediay-news__date {
    inline-size: 85px;
  }

  thead {
    th {
      font-size: 0.875rem;
      padding-block: var(--cell-spacing-head);
    }
  }
  tbody {
    td {
      font-size: 0.75rem;
      text-align: center;

      & .thumbnail-card {
        padding-block: var(--sapcing-md);
        padding-inline: var(--sapcing-sm);
        text-align: left;
      }

      &:not(:nth-child(2)) {
        vertical-align: top;
        padding-block-start: var(--sapcing-base);
      }
    }
  }
} */

.ediay-container {
  margin: var(--sapcing-md);
}

.ediay-heading {
  --title-sub-text-color: rgba(20, 24, 44, 0.9);

  h1 {
    color: var(--main-text-color, #24388d);
  }
  p {
    color: var(--title-sub-text-color);
  }
}

.ediay-news {
  table-layout: fixed;
  inline-size: 710px;
  border-collapse: collapse;
  border-spacing: 0;

  .ediay-news__number {
    inline-size: 46px;
  }
  .ediay-news__content {
    inline-size: 579px;
  }
  .ediay-news__date {
    inline-size: 85px;
  }
}

thead {
  --border-color-blue: #24388d;

  th {
    color: var(--main-text-color);
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
    padding: 10px 7px;
    border-block-start: 2px solid var(--border-color-blue);
  }
}

tbody {
  --border-color-blue: #24388d;
  --border-color-gray: #ccc;

  border-block-end: 2px solid var(--border-color-blue);
  tr {
    border-block-start: 1px solid var(--border-color-gray);
  }

  td {
    color: var(--main-text-color);
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: -0.015rem;
    vertical-align: top;
    padding: 12px;

    & .thumbnail-card {
      padding-inline: 10px;
      text-align: left;
    }
  }
}
