@import "./../../common/best-reset.css";
@import "./../../common/a11y.css";
@import "./../../common/base.css";

.coffee-lab {
  --container-size: 1440px;

  inline-size: var(--container-size);
  margin-inline: auto;

  .coffee-lab__header {
    --divider-size: 70px;
    --divider-border-size: 1px;
    --divider-border-color: #7d6f5d;
    --gap: 55px;

    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    h2 {
      font-size: 2.875rem;
      font-weight: 250;
      line-height: 1.4;
      letter-spacing: 0.1437rem;
    }
    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.1125rem;
    }
    &::after {
      content: "";
      display: block;
      inline-size: var(--divider-size);
      block-size: var(--divider-border-size);
      background: var(--divider-border-color);
      margin: var(--gap) auto;
    }
  }
  .coffee-lab__list {
    --grayf9: #fffcf9;
    --item-size: 690px;

    position: relative;
    list-style: "";
    margin: auto 120px;

    > li {
      &:nth-of-type(1) a {
        background: url(./../../assets/cafew/coffee-lab-01-@2x.jpg) no-repeat 50% / cover;
        z-index: 1;
      }
      &:nth-of-type(2) a {
        background: url(./../../assets/cafew/coffee-lab-02-@2x.jpg) no-repeat 50% / cover;
        inset-inline-end: 0;
        inset-block-start: 133px;
      }

      > a {
        display: inline-block;
        position: absolute;
        color: var(--grayf9);
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-decoration: none;
        inline-size: var(--item-size);
        aspect-ratio: 1;
        padding-block-start: 497px;

        > span {
          display: inline-block;
          &:after {
            content: "";
            display: block;
            background-color: currentColor;
            block-size: 10px;
          }
        }
      }
    }
  }
}
